@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Viga');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
  font-family: Samankar;
  src: url(./SAMAN___.TTF);
}
.row{
  margin-right: 0px!important;
}

.bgNow {
  margin-right: 15px!important;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #31562c, black, #8ebf87, black);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.lato{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px
}
.lato2{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 1.1px
}

.lato3{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1.1px
}

.event-dates{
  width: 100%;
}
.headFont{
 width: 100%;
    font-family: 'Samankar';
    font-size: 121px;
    letter-spacing: 1.5px;
    color: #ffcc08;
}

.start {
  margin-top: 22px;
    font-family: 'Viga', sans-serif;
    font-size: 36px;
    word-spacing: 27px;
    letter-spacing: 3px;
    font-weight: 300;
    text-align: center;
}
.footer{
  color: white;
  background-color: black;
}

.text-type {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  word-spacing: 18px;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
  color: #92efd0;
  /* position: absolute;
  right: 35px;
  left: 90px;
  top: 55%; */
}

body {
  margin-top: 105px;
}

.nav-link {
  color: white;
}

.image {
  margin-top: 3rem !important;
}

@media all and (max-width: 768px) {
  .row{
    margin-right: 0px!important;
  }
    .headFont {
    width: 100%;
    font-family: 'Samankar';
    font-size: 56px;
    letter-spacing: 1.5px;
    color: #ffcc08;
}

  .image {
    margin-top: 0 !important;
    margin-left: 20%;
  }
}

.logo-head {
  width: 60%;
  top: 10%;
  /* margin: 80px 0px 0px 100px; */
  height: auto;
}

.homesection {
  background-image: url(images/img1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 800px;
  color: white;
  position: relative;
  opacity: 0.9;
}

.homepadding {
  padding-top: 150px;
}

.qouteBg {
  background-color: #a01910;
  opacity: 0.8;
}

.containerBottom {
  background-color: #a01910;
  padding-left: 110px;
  padding-right: 110px;
  opacity: 0.9;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}
h1 {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #00bf96;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.bg-brown {
  background-color: #c9433a;
}

.info-header {
  border-bottom: 1px solid black;
}

.ft-size{
  font-size: 13px;
}

.marNeg{
  margin-top: -35px;
}

.eventBg {
  background-color: #eae5e5;
}

.imgPadding {
  padding-top: 250px;
}

.bg-about {
  background-color: #bdfcc7;
}

.bg-social {
  background-color: #413f44;
}

.review-section {
  background-image: url(images/img4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  color: white;
  position: relative;
  opacity: 0.9;
}

hr.under1 {
  border-top: 5px solid red;
  width: 10%;
  margin-top: -27px;
}

hr.under2 {
  border-top: 5px solid red;
  width: 10%;
  margin-top: 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.pl-4{
  padding-right: 50px;
}

.bg-photo{
  background-color: #f7e2c8;
}

.spon-img {
  width: 278px;
  padding: 29px 0px 61px 0px;
}


.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid #ccc;
  margin-top: 40px;
  margin-bottom: 70px;
}




.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 289px;
    height: 189px;
}
.flip-container2 {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid #ccc;
  margin-top: 40px;
  margin-bottom: 70px;
  margin-right: 30px;
}

.flip-container2:hover .flipper2,
.flip-container2.hover .flipper2 {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container2, .front2, .back2 {
    width: 298px;
    height: 450px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.flipper2 {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.back2 {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.back2 {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #7bb777;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;
}

.mar {
  margin-top: -71px;
}

.back-title {
  color: #00304a;
  position: absolute;
  top: 71px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Verdana;
  font-size: 2em;
}

.back-title2 {
  color: #6b4939;
  position: absolute;
  top: 370px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Verdana;
  font-size: 1.5em;
}

.back-text {
  color: white;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Verdana;
  font-size: 1.2em;
}

.back-top {
  top: 280px;
}
.back-top2 {
  top: 285px;
}

.back-info {
  font-family: 'Hammersmith One', sans-serif;
  color: #494f49;
  font-weight: 600;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 15px;
  text-align: left;
  font-family: Verdana;
  font-size: 1.2em;
}

.back-date {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: 70px;
  text-align: right;
  font-family: Verdana;
  font-size: 1.1em;
}

.event-head {
  font-size: 31px;
  font-weight: 600;
  bottom: 351px;
}

.myColor {
  color: #6b4939;
}

.contact-text {
  color: #236877;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 5px;
  font-weight: 700;
  text-align: left;
}

.contact-info {
  padding-bottom: 20px;
  text-align: left;
}

.contact-head {
  color: black;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
  text-align: center;
}

.social-logo {
  width: 40px;
  margin-left: 40px;
}

.mr-b {
  margin-bottom: 35px;
}

.logo-img {
  width: 70px;
  margin: -45px 20px -35px 8px;
}
